/*:root {
    --main-font: "Roboto" , sans-serif;
    --secondary-font: "Raleway" , sans-serif;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --discription-text-color: #757575;
    --background-color: #2f303a;
    --white-text-back-color: #ffffff;
    --back-team-color: #f5f4fa;
    --background-second: #E5E5E5;
    --background-btn-hover: #188ce8;
    --partner-icon: #afb1b8;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --shadow-bg: rgba(0, 0, 0, 0.25);
    --portfolio-color: #eeeeee;
}*/

/*body {
    font-family: var(--main-font) ;
    letter-spacing: 0.03em;
    background-color: var(--white-text-back-color);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul, 
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}*/

/* Header section */


/*.header {
    border-bottom: 1px solid var(--back-team-color);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}*/

/*.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}*/

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web-header {
    color: var(--logo-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web-footer {
    color: var(--white-text-back-color);
}

.nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}


.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color) ;
}


.link.nav-link.current {
    color: var(--accent-color) ;
}


.current::after {
    position: absolute;
    content: "";
    opacity: 1;
    display: block;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    background-size: auto;
    border-radius: 2px;
    transform: translateY(1px)
}

/* .Contacts section */

.contacts-list-item:not(:last-child) {
    margin-right: 50px;
}

.list-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-icon {
    fill: var(--discription-text-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--discription-text-color);
    fill: var(--discription-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-icon {
    fill: currentColor;
}

.tel-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--discription-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* Hero section */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
}    

.bg-img {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_BG.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    
}
.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-back-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn-focus {
    background-color: var(--background-btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-text-back-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Features section */

.features {
    padding-top: 94px;
    padding-bottom: 47px;
}

.visually-hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features-item {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
}

.features-item .title-f {
    width: 270px;
    justify-items: center;
}

.features-item .title-f {
    margin-left: 30px;
}

.thumb-icon {
    width: 70px;
    height: 70px;
}

.title-features {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.features-dis {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--discription-text-color); 
}

.thumb {
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/* What are we doing section */

.img-what-we-do {
    display: flex;
}

.what-we-do {
    display: flex;
    padding-bottom: 94px;
    padding-top: 47px;
    background-color: var(--white-text-back-color);
}

.title-chapter {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.about-list-item {
    position: relative;
    margin-right: 30px;
}

.img-what-we-do:nth-child(3) {
    margin-right: 0;
}

.image-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-text-back-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* Our team section */

.team {
    background-color: var(--back-team-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.title-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list-team {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
}

.team .list-team-item .team-img {
    background: var(--secondary-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.list-team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.description {
    padding: 30px 32px;
    background-color: var(--white-text-back-color);
    border-radius: 0px 0px 4px 4px;
}


.title-staff {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.staff-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
    color: var(--discription-text-color);
}

.team {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--partner-icon);
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.social-links:hover,
.social-links:focus {
    background-color: var(--accent-color);
    fill: var(--white-text-back-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  
.social-svg:hover,
.social-svg:focus {
    fill: var(--white-text-back-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Clients  */

.partners-list {
    display: flex;
    justify-content: space-between;
}

.partners {
    padding-bottom: 94px;
    padding-top: 94px;
}

.title-partners {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.partners-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid var(--partner-icon);
    fill: var(--partner-icon);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.partner-logo:hover,
.partner-logo:focus {
    color: var(--accent-color);
}


.partners-link:hover,
.partners-link:focus {
    border: 1px solid var(--accent-color);
}

.partners-link:hover,
.partners-link:focus {
    fill: var(--accent-color);
}


/* Footer section */
.footer {
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;  
}

.box-foot {
    margin-right: 65px;
}

.footer-wraper {
    align-items: baseline;

}

.logo-footer {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color); 
}

.address {
    font-style: normal;
}

.footer-list-item {
    color: var(--white-text-back-color);
}

.mail-address,
.tel-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr-str {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-back-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.adr-str:hover,
.adr-str:focus {
    color: var(--accent-color) ;
}

.mail-address:hover,
.mail-address:focus {
    color: var(--accent-color) ;
}

.tel-address:hover,
.tel-address:focus {
    color: var(--accent-color) ;
}

.footer-social-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-text-back-color);
    margin-bottom: 20px;
}
  
 
.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.footer-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--accent-color);
}
  
.footer-social-svg {
    fill: var(--white-text-back-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-social-list-item:hover .social-svg,
.footer-social-list-item:focus .social-svg {
    fill: var(--white-text-back-color);
}
  
.footer-social-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 109px;
}
  
.footer-form-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-back-color);
    margin-bottom: 20px;
    margin-left: 101px;
}
  
.footer-input-text {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    margin-top: 20px;
    background-color: transparent;
    color: var(--white-text-back-color);
    padding-left: 16px;
}
  
.footer-input-text::placeholder {
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
  
.footer-form-button {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text-back-color);
    cursor: pointer;
    min-width: 200px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    border: 1px solid transparent;
}
  
.footer-icon-send {
    fill: var(--white-text-back-color);
    margin-left: 10px;
}

     /* END FOOTER */


/* Filter button section */

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.navigation-btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--back-team-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-btn:hover,
.navigation-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-text-back-color);
    cursor: pointer;
}

.navigation-btn:hover,
.navigation-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.navigation-btn-a {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--white-text-back-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}

    /* End Filter button section */


    <!--Hero-->

.filter-btn-item:hover,
.filter-btn-item:focus {
    cursor: pointer;
    color: var(white-text-back-color);
    background-color: var(--accent-color);
}

.filter-btn-item:not(:last-child) {
    margin-right: 8px;
}

/* Portfolio section */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;   
}


.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-hover {
    position: relative;
}

.overlay {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

.cards-cover {
    position: absolute;
    padding: 63px 24px;
    height: 0px;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-text-back-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    opacity: 0;
    pointer-events: none;
    transition-property: translatexY(0);
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

.portfolio-item:hover,
.portfolio-item:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:focus .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-desc-card {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-color);
    border-top: none;
}

.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-desc {
    font-size: 16px;
    line-height : 1.89;
    color: var(--discription-text-color);
}

  /*--MODAL WINDOW--*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: transform background-color box-shadow fill opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
  
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
  
.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.9);
}
  
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--white-text-back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--logo-color);
    border-radius: 50%;
    cursor: pointer;
}
  
.modal-svg {
    fill:var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
    fill: var(--accent-color);
}
  
  .modal-form-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
  
.modal-form {
    display: flex;
    flex-direction: column;
}
  
.modal-form-field {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--discription-text-color);
}
  
.modal-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
}
  
.modal-form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}
  
.modal-form-svg {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-input:focus + .modal-form-svg {
    fill: var(--accent-color);
}
  
.modal-form-comment {
    width: 100%;
    margin-top: 4px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-comment::placeholder {
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
  
.modal-form-comment:focus {
    border-color: var(--accent-color);
    outline: none;
}
  
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--discription-text-color);
    margin-top: 20px;
}
  
.modal-form-link {
    color: var(--accent-color);
}
  
.modal-form-check-desc::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}
  
.modal-form-term:checked + .modal-form-check-desc::before {
    background-image: url("../images/icon_check.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 2px;
}
  
.modal-form-term:focus + .modal-form-check-desc::before {
    border: 2px solid var(--accent-color);
}
  
.modal-form-btn {
    height: 50px;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 55px;
    min-width: 200px;
    align-self: center;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-back-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--background-btn-hover);
    color: var(--white-text-back-color);
}
  /*--END MODAL WINDOW--*/