.address {
    font-style: normal;
}

.footer-list-item {
    color: var(--white-text-back-color);
}

.mail-address,
.tel-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr-str {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-back-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.adr-str:hover,
.adr-str:focus {
    color: var(--accent-color) ;
}

.mail-address:hover,
.mail-address:focus {
    color: var(--accent-color) ;
}

.tel-address:hover,
.tel-address:focus {
    color: var(--accent-color) ;
}

