.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web-header {
    color: var(--logo-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web-footer {
    color: var(--white-text-back-color);
}